.home {
	height: 885px;
	padding-top: 50px;
	background:url(../img/bg-main.jpg) no-repeat center center fixed;
	background-size: cover;
}

.jumbotron{
	background:transparent;
	color: #fff;
	padding-top: 150px;
}

.home-left {
	padding-top: 150px;
}
.home-left img{
	width: 400px;
	/*margin-left: -100px;*/
}
